name: release

on:
  push:
    tags:
      - "*"

jobs:
  release:
    name: release
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write

    steps:
      - uses: actions/checkout@v5
      - name: Install uv and set the Python version
        uses: astral-sh/setup-uv@v6
        with:
          python-version: 3.13
      - name: Build
        run: uv build
      - name: Publish package distributions to PyPI
        run: |
          uv publish
      - name: Install dependencies
        run: |
          uv sync --group docs
      - name: Deploy docs
        run: |
          uv run dbt-score list -f markdown -n dbt_score.rules.generic --title Generic > docs/rules/generic.md
          uv run dbt-score list -f markdown -n dbt_score.rules.macros --title Macros > docs/rules/macros.md
          uv run mkdocs gh-deploy --force
      - uses: ncipollo/release-action@v1
        with:
          generateReleaseNotes: true
